KERNEL!="sd[a-z][0-9]", GOTO="media_by_label_auto_mount_part_end"  
# Import FS infos  
IMPORT{program}="/sbin/blkid -o udev -p %N"  
# Get a label if present, otherwise specify one  
ENV{ID_FS_LABEL}!="", ENV{dir_name}="%E{ID_FS_LABEL}"  
ENV{ID_FS_LABEL}=="", ENV{dir_name}="usbhd-%k"  
# Global mount options  
ACTION=="add", ENV{mount_options}="relatime,sync,dirsync,nodev,nosuid,noexec"
# Filesystem-specific mount options  
ACTION=="add", ENV{ID_FS_TYPE}=="ext2|ext3|ext4|vfat|ntfs|udf|iso9660", ENV{mount_options}="$env{mount_options},gid=100,umask=022"  
# Mount the device  
ACTION=="add", RUN+="/bin/mkdir -p /media/%E{dir_name}", RUN+="/bin/mount -o $env{mount_options} /dev/%k /media/%E{dir_name}"  
# Clean up after removal  
ACTION=="remove", ENV{dir_name}!="", RUN+="/bin/umount -l /media/%E{dir_name}"
#, RUN+="/bin/rmdir /media/%E{dir_name}"  
# Exit  
LABEL="media_by_label_auto_mount_part_end"
